.top{
    background-color: #f3f3f3;
    height: 1110px;
    clip-path: polygon(0 0%, 100% 0, 100% 85vw, 60% 100%, 0 75%);
    margin-bottom: -15vw;
}
.about{
    background-color: #3829ab;
    height: 1480px;
    font-family: 'Dela Gothic One', cursive;
}
.work{
    background-color: #f3f3f3;
    height: 2340px;
    clip-path: polygon(38% 0, 100% 15%, 100% 84%, 64% 100%, 0 84%, 0 25%);
}
.myblog{
    background-color: #fff;
    height: 1400px;
}
.profile{
    background-color: #f3f3f3;
    height: 1400px;
}
aside{
    display: inline-block;
    flex-flow: column wrap;
}
.name {
    display: block; /* the default for span */
    width: auto;
    height: 125px;
    position: absolute;
    left: 375px;
    top: 570px;
    padding: 5px;
    border: 1px solid wheat; 
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
  }
  .signature{
    display: block;
    position: relative;
    width: auto;
    height: 40px;
    font-size: 40px;
    left: 375px;
    top: 147px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  .link{
    width: 112px;
    height: 40px;
    margin-left: 385px;
    margin-top: 700px;
  }
  .title{
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    /* margin: auto; */
    padding: 5px;
    border: 1px solid yellow;
    top: 1000px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  