.top{
    background-color: #f3f3f3;
    height: 1110px;
    clip-path: polygon(0 0%, 100% 0, 100% 85vw, 60% 100%, 0 75%);
    margin-bottom: -15vw;
}
.about{
    background-color: #3829ab;
    height: 1480px;
    font-family: 'Dela Gothic One', cursive;
}
.work{
    background-color: #f3f3f3;
    height: 2340px;
    clip-path: polygon(38% 0, 100% 15%, 100% 84%, 64% 100%, 0 84%, 0 25%);
}
.myblog{
    background-color: #fff;
    height: 1400px;
}
.profile{
    background-color: #f3f3f3;
    height: 1400px;
}
aside{
    display: inline-block;
    flex-flow: column wrap;
}
.name {
    display: block; /* the default for span */
    width: 350px;
    height: 125px;
    position: fixed;
    left: 375px;
    top: 570px;
    padding: 5px;
    border: 1px solid blue; 
    background-color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }
  .signature{
    width: 160px;
    height: 40px;
    padding-left: 385px;
    padding-top: 144px;
  }
  .link{
    width: 112px;
    height: 40px;
    margin-left: 385px;
    margin-top: 700px;
  }
  