doctype html
html
    include ./../blocks/head.pug
body
        h1 Hello
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit maxime temporibus iste illum optio a facilis eligendi, maiores quibusdam! Ex error beatae quam consectetur et, eveniet sapiente modi illum aliquid!